*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(90deg, #e6a800, #ff9100);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;

}

table{
    width: 85vw;
    border-spacing: 0;
    border: 1px solid #80808080;
    background-color: #e7e7e7;

    
}

th, td , caption{
    padding: 15px;
    line-height: 1.5;
    vertical-align: top;
    border: 1px solid #80808080;
    font-weight: 700;
    background-color: #e7e7e7;
}


td{
    background-color: #ffffff;
    
}


div{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto; 
    height: 70vh;
    margin-top: 2.5px;
}

button#cadastrar{
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}


button#cadastrar:hover{
    transition : 717ms;
    width: 210px;
    height: 60px;
    font-size: 19px;
    transform : translateY(-0px);
    background-color: #000000;
    color: #ffb300;
}

.excluir, .editar {
    width: 100px;
    height: 30px;
    font-size: medium;
    cursor: pointer;
}

.excluir{
    color: #ff0000;
}

@media screen and (max-width: 555px){
    div{
        width: 99%;
    }
}